*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

html{
    font-size: 12px;
}

body{
    min-height: 100vh;
    font-family: "Kanit", sans-serif;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    background: #ffff;
  margin-block: 20px;
    border-radius: 10px;
 box-shadow: 0 0 30px gray;
         height: 100vh;
}

.accordion{
    position: relative;
    width: 350px;
    margin-left: 40px;
}

.title{
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
}

.content-accordion{
    margin-top: 35px;
    margin-right: 50px;

}

.question{
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}

.accordion img{
    position: relative;
    width: 320px;
}

.question-answer{
    margin: 20px 0;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    /* padding: 1vh 0; */
}

.title-question{
    margin: 1.4rem, 0rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}

.question-btn{
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.up-icon{
    display: none;
}

.answer{
    font-size: 1.2rem;
    line-height: 1.8;
    overflow: hidden;
    height: 0;
}

.show-text .answer{
    height: 100px;
}

.show-text .up-icon{
    display: inline;
}

.show-text .down-icon{
    display: none;
}

.faq-img{
    height: 58%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 992px){
    .container{
        height: 85vh;
    }
    .faq-img{
        height: 80%;
        display: block;
        img{
            object-fit: cover;
            width: 100%;
            
        }
    }
    .accordion{
        width: 920px;
        height: 0;
        display: flex;
    }
  
    .accordion img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .question-answer{
        width: 380px;
    }

    .content-accordion{
        margin-top: 85px;

    }

    .title{
        margin-top: 50px;
        font-size: 3rem;

    }
}